body {
    margin: 0;
    padding: 0;
    background: url("../images/bg/10.jpg") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.box {
    width: 1000px;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    margin: 3% auto auto;
    color: white;
    font-family: 'Century Gothic',sans-serif;
}
.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h5{
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 100;
}
.box p{
    text-align: justify;
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
.box li a:hover{
    color:#b9b9b9;
}

.search\.test {
    height: 35px;
    width: 275px;
    padding-left:10px;
    border-radius: 10px;
    outline: none;
    border-color: RGB(196,199,206)
}
.search\.submit{
    width:75px;
    height:35px;
    background-color: #4E6EF2;
    border: none;color: white;
    border-radius: 10px
}
.musicbox{
    width: 200px;
    height: 30px;
}
/* 备案 */
.beian{
    text-decoration: none;
    color: rgba(255,255,255,.6);
    cursor: pointer;
    transition: .25s;
    align-items: center;
    left: 50%;
}

